
/* Blocs */

#emma {background-color: #cccccc;}
#emma #header {position: fixed; top: 0; right: 0; left: 0; height: 70px; background-color: #ffffff; box-shadow: 0 0 15px 0 #000000;}
#emma #header #nav {max-width: 1024px; margin: 0 auto; text-align: center;}
#emma #header #nav ul {margin: 0;}
#emma #header #nav ul li {display: inline-block; margin: 0 10px; cursor: pointer;}
#emma #header #nav ul li span {line-height: 70px; font-size: 36px; font-family: Arial; color: #000000;}
#emma #section {max-width: 960px; margin: 100px auto;}
#emma #section > div {margin: 0 0 30px; background-color: #ffffff; box-shadow: 0 0 5px 0 #cccccc;}
#emma #section > div.list > div {float: left; width: 25%; height: 240px;}
#emma #section > div.work > div {}

/* Textes */

h1 {font-size: 36px; font-family: Arial; color: #000000;}
h2 {font-size: 24px; font-family: Arial; color: #ca139f;}
p {font-size: 16px; font-family: Arial; color: #555555;}


/* Divers */